#instructions {
  position: absolute;
  z-index: 1000;
  /* background-color: rgba(255, 255, 255, 0.685); */
  background: var(--bg-color);
  width: 50%;
  height: 70%;
  border: 2px solid #34495e;
  border-radius: 4px;
  text-align: center;
  float: right;
  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.4s, opacity 0.4s;
  color: var(--caret-color);
  flex-wrap: wrap;
}
.instructionText {
  font-size: 24px;
}

.pseudocode {
  font-family: monaco,Consolas,Lucida Console,monospace; 
  overflow-wrap: break-word;
  font-size: 17px;
}

.pseudocodeActive {
  background-color: #A8C69F;
}

.conditionalActive {
  color: #5A8D2E;
}

.paddingFirstIndent{
  padding-left: 20px;
}

.paddingSecondIndent{
  padding-left: 40px;
}

.paddingThirdIndent{
  padding-left: 60px;
}

.paddingFourthIndent{
  padding-left: 80px;
}

.paddingFifthIndent{
  padding-left: 80px;
}