:root {
  --bg-color: #1b1d36;
  --main-color: #ffd5e5;
  --caret-color: #81f5ff;
  --sub-color: #DE9151;
  --text-color: #ffd5e5;
  --error-color: #ffffdd;
  --error-extra-color: #ffffdd;
  --colorful-error-color: #ffffdd;
  --colorful-error-extra-color: #ffffdd;
}

.main-color {
  color: var(--main-color);
 }