.title{
    color: var(--main-color);
}
.positionInStack{
    color: var(--main-color);
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
}
#stackPos{
    flex-direction: row;
    align-self: flex-end;
    margin-left: -42px;
    margin-bottom: 2px;
}